<main>
  <%= form_with model: @task do |f| %>

    <section class="form-action">
      <%= f.label :action %>
      <%= f.text_field :action %>
    </section>

    <section class="form-description">
      <%= f.label :description %>
      <%= f.text_area :description, cols: 50, rows: 10 %>
    </section>

    <section class="form-completion-date">
      <%= f.label :completion_date %>
      <%= f.date_field :completion_date %>
    </section>


  <%= f.submit action_name, class: "task-button" %>

  <% end %>

</main>
